<header
    class="flex justify-center items-center py-5 w-full xl:w-[1220px] mx-auto"
>
    <span></span>
    <nav class="flex flex-row gap-x-10">
        <a href="#top">inicio</a>
        <a href="#experiencia">Experiencia</a>
        <a href="#Proyectos">Proyectos</a>
        <a href="#sobre-mi">Sobre mí</a>
        <a href="#contacto">Contacto</a>
    </nav>
</header>
